@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1628957047811') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e61e";
}

.icon-tianjia:before {
  content: "\e668";
}

.icon-fanhui:before {
  content: "\e656";
}

.icon-humidity:before {
  content: "\e6f7";
}

.icon-shanchu:before {
  content: "\e60a";
}

.icon-fengsu:before {
  content: "\e782";
}

.icon-humidity1:before {
  content: "\e66c";
}

.icon-shanchu1:before {
  content: "\e8b2";
}

.icon-tianjia1:before {
  content: "\e63b";
}

.icon-ziwaixian:before {
  content: "\e640";
}

